p {
    font-family: "Verdana";
    font-size: 12px;
}

h3 {
    font-family: "Verdana";

}

h4 {
    font-family: "Verdana";
    font-size: 12px;
    padding-bottom: 0.2px;
}

ul {
    font-family: "Verdana";
    font-size: 12px;
}

body {
    margin-right: 120px;
    margin-left: 120px;
    margin-bottom: 50px;
    margin-top: 50px;
}